
#up to 512 bit passcode must be cracked
#all characters

import os
import sys
import random
import smptlib

#options

type_of_paswords = raw_input("number of bits in password? ie: 16,32,64...512")
while type_of_paswords != "16" and type_of_paswords != "32" and type_of_paswords != "64" and type_of_paswords != 128 and type_of_paswords != "256" and type_of_paswords != "512":
  type_of_paswords = raw_input("no you did it wrong, put a base two number between 16 and 512")

passwfile = raw_input("Enter the password file name: ")
passwfile = open(passwfile, "r")


password = "placce_holder"


def 16bitscreate():
def 32bitscreate():
def 64bitscreate():
def 128bitscreate():
def 256bitscreate():
def 512bitscreate():


if type_of_paswords = "16":
  16bitscreate()
elif type_of_paswords = "32":
  32bitscreate()
elif type_of_paswords = "64":
  64bitscreate()
elif type_of_paswords = "128":
  128bitscreate()
elif type_of_paswords = "256":
  256bitscreate()
elif type_of_paswords = "256":
  512bitscreate()
else:
  print "Error"



for password in passwfile:
  try:
    smtpserver.login(password)
  
    print "[+] Password Found %s" % password
    break;
  except smtplib.SMTPAuthenticationError:
    print "[!] Password Incorrect: %s" % password






